Automticly Remove - blockbot.json
{
  "name": "Automticly Remove - blockbot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        144
      ],
      "id": "de42c2eb-eb69-4e9d-8ca3-e9af9f9a80d7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AKNttTBHmpOj5rgZ",
          "mode": "list",
          "cachedResultName": "labling-stop-bot-karim",
          "cachedResultUrl": "/projects/lQgjPPyrJr4zMTgY/datatables/AKNttTBHmpOj5rgZ"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        256,
        144
      ],
      "id": "f7c149f4-a7f5-4ead-a035-a705c72716f7",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "09f534c8-eb2c-45ec-8b7e-4eb401fba6cc",
              "leftValue": "={{ $json.is_free }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        64
      ],
      "id": "858bfb81-e5e7-4b86-9957-426c209b8bd8",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/152788/conversations/{{ $('Code in JavaScript').item.json.convertaion_id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\n    \"\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        32
      ],
      "id": "8beb0b48-ac82-40ee-b988-1f1e073227f8",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 2,
      "alwaysOutputData": false,
      "credentials": {
        "chatwootApi": {
          "id": "px6EIZp51k70B9Xp",
          "name": "Chatwoot account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// إنشاء مصفوفة فارغة لتخزين كل المستخدمين بعد فحصهم\nconst returnItems = [];\n\n// 1. الدوران (Loop) على كل عنصر (مستخدم) قادم من العقدة السابقة\nfor (const item of $input.all()) {\n    \n    // استخراج البيانات لكل مستخدم على حدة\n    const updatedAtStr = item.json.updatedAt;\n    const waitTimeMinutes = item.json.time_to_be_free_again;\n\n    // الافتراضي هو false (لم ينتهِ الوقت بعد)\n    let isFree = false;\n    let debugInfo = {};\n\n    if (updatedAtStr && waitTimeMinutes !== undefined) {\n        // 2. تحويل الأوقات إلى مللي ثانية (Milliseconds)\n        const updatedAtMs = new Date(updatedAtStr).getTime();\n        const waitTimeMs = Number(waitTimeMinutes) * 60 * 1000;\n        \n        // 3. حساب الوقت المستهدف الذي سيكون فيه متاحاً\n        const targetFreeTimeMs = updatedAtMs + waitTimeMs;\n        const currentTimeMs = Date.now(); \n        \n        // 4. التحقق: هل الوقت الحالي أكبر من أو يساوي الوقت المستهدف؟\n        isFree = currentTimeMs >= targetFreeTimeMs;\n\n        // تجهيز بيانات التأكد لكل مستخدم\n        debugInfo = {\n            updated_at_parsed: new Date(updatedAtMs).toISOString(),\n            target_free_time: new Date(targetFreeTimeMs).toISOString(),\n            current_time: new Date(currentTimeMs).toISOString(),\n            minutes_passed: Math.floor((currentTimeMs - updatedAtMs) / 60000)\n        };\n    }\n\n    // 5. إضافة المستخدم الحالي مع نتيجته إلى قائمة المخرجات\n    returnItems.push({\n        json: {\n            ...item.json, // إبقاء بيانات هذا المستخدم القديمة (مثل رقمه واسمه)\n            is_free: isFree, \n            time_check_debug: debugInfo \n        }\n    });\n}\n\n// 6. إرجاع كل المستخدمين كقائمة كاملة ليتمكن n8n من معالجتها\nreturn returnItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        144
      ],
      "id": "fbd5c875-838e-4595-a9f3-49361554c9a3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "AKNttTBHmpOj5rgZ",
          "mode": "list",
          "cachedResultName": "labling-stop-bot-karim",
          "cachedResultUrl": "/projects/lQgjPPyrJr4zMTgY/datatables/AKNttTBHmpOj5rgZ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "convertaion_id",
              "keyValue": "={{ $('Code in JavaScript').item.json.convertaion_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1456,
        32
      ],
      "id": "740d59cc-4811-44c4-ab01-8c32f8554cd7",
      "name": "Delete row(s)"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-01T10:46:40.001+01:00",
          "Readable date": "March 1st 2026, 10:46:40 am",
          "Readable time": "10:46:40 am",
          "Day of week": "Sunday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "01",
          "Hour": "10",
          "Minute": "46",
          "Second": "40",
          "Timezone": "Europe/Berlin (UTC+01:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "281e76ba-4887-4cf3-a75c-23796849862c",
  "meta": {
    "instanceId": "98c9121775f2c350960fe151740521cb03acfc1cee54bd926992bb3e7c435f9d"
  },
  "id": "PrkCtgWQ2deXKfGi",
  "tags": []
}